build/
**/build/

CMakeFiles/
**/CMakeFiles/
CMakeCache.txt
**/CMakeCache.txt
cmake_install.cmake
**/cmake_install.cmake
Makefile
**/Makefile
*.dir/
**/*.dir/
.cache/
**/.cache/

compile_commands.json
**/compile_commands.json

*.exe
*.out
*.app
bin/
**/bin/
lib/
**/lib/

.DS_Store
**/.DS_Store

*~
**/*~

.vscode/
**/.vscode/

.idea/
**/.idea/

*.swp
*.swo
**/*.swp
**/*.swo

